<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Todo List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
    <h1>Todo List</h1>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Due Date</th>
                <th>Priority</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="todo : ${todos}">
                <td th:text="${todo.title}">Title</td>
                <td th:text="${todo.description}">Description</td>
                <td th:text="${todo.dueDate}">Due Date</td>
                <td th:text="${todo.priority}">Priority</td>
            </tr>
        </tbody>
    </table>
</body>
</html>
